@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


/*************************
RESET
**************************/
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a 
{
   text-decoration: none; 
   color: #fff;
}

a:hover
{
    color: #ff5500;
    transition: .2s;
}

li
{
    list-style: none;
}

ul
{
    margin: 0;
    padding: 0;
}

/*************************
MENU BUTTON
**************************/
#logo img
{
    width: 160px;
}

#header
{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1c1c1c;
}
#menu
{
    display: flex;
    gap: 1.1rem;
    
}

#menu a
{
    display: block;
    font-size: 1.1rem;
    line-height: 70px;
}

#btn-mobile
{
    display: none;
}

@media (max-width: 700px)
{
    #menu
    {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background: #1c1c1c;
        transition: .6s;
        z-index: 10000;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
        
    }

    #nav.active #menu
    {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a
    {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid #ff5500;
        text-align: center;
    }

    #btn-mobile
    {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 45px;
        height: 50px;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        cursor: pointer;
        overflow: hidden;

    }

    #btn-mobile span
    {
        position: absolute;
        width: 30px;
        height: 3px;
        background: #ff5500;
        border-radius: 4px;
        transition: 0.3s;
    }

    #btn-mobile span:nth-child(1)
    {
        transform: translateY(-15px);
        width: 25px;
        left: 6px;
    }

    #nav.active span:nth-child(1)
    {
        width: 30px;
        transform: translateY(0) rotate(45deg);
        transition-delay: 0.125s;
    }

    #btn-mobile span:nth-child(2)
    {
        transform: translateY(15px);
        width: 15px;
        left: 6px;
    }

    #nav.active span:nth-child(2)
    {
        width: 30px;
        transform: translateY(0) rotate(315deg);
        transition-delay: 0.25s;
    }

    #nav.active span:nth-child(3)
    {
        transform: translateX(60px);
    }
}

/*************************
RESET BOOTSTRAP
**************************/
.card-body
{
    text-align: center;
}

.carousel-item img 
{
    width: 100vw;
    height: calc(100vh - 70px);
}

.carousel-caption h1 
{
    font-size: 6em;
    background: linear-gradient(180deg, #ffe700, #ff5500);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
}

.carousel-caption p 
{
    font-size: 2em;
    text-shadow: 0 0 8px #1c1c1c;
    font-weight: 400;
}

/******************************
CONTENT GLOBAL
*******************************/
h2 
{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.1em;
    text-align: center;
    border-bottom: 3px solid;
    border-image: -webkit-linear-gradient(70deg, #ffe700 40%, #ff5500);
    border-image: -moz-linear-gradient(70deg, #ffe700 40%, #ff5500);
    border-image: linear-gradient(70deg, #ffe700 40%, #ff5500);
    border-image-slice: 1;
    padding: 5px 0;

}

#btnToTop
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    font-size: 1.2em;
    border: none;
    outline: none;
    background: linear-gradient(180deg, #ffe700, #ff5500);
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 5px;
    opacity: 0.7;
    z-index: 99;
    transition: .2s;
}

#btnToTop:hover
{
    opacity: 1;
}

.owl-theme .owl-dots .owl-dot span{
    width: 8px !important;
    height: 8px !important;
    margin: 5px 5px !important;
}

.logo-equipaments img
{
    margin: 10px 0;
    max-height: 60px;
    border-radius: 5px;
}

.client, #servicos, #localizacao, 
#equipamentos
{
    padding: 40px 0;
}

.client, #equipamentos, footer
{
    background: #161923;
    color: #fff;
    text-align: justify;
}

.client
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client img
{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE */
    border-radius: 5px;
    transition: .2s;
}

.client img:hover
{
    -webkit-filter: none;
    filter: none;
    filter: gray; /* IE */
}

/* EQUIPAMENTS */
.gradient
{
    background-image: linear-gradient(180deg, #ffe700, #ff5500);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    margin: 0;
}

#equipamentos figure img 
{
    max-height: 320px;
}

#equipamentos figcaption 
{
    text-align: left;
    
}

.endereco
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.map
{
    display: flex;
    justify-content: center;
}

.btn 
{
    border: none;
    margin: 10px 0;
    border-radius: 5px;
    background: #161923;
    color: #fff;
    font-size: 1.2em;
    display: block;
    opacity: 0.6;
}

.btn:hover 
{
    transition: all 0.3s ease;
    opacity: 1;
    background: linear-gradient(70deg, #ffe700, #ff5500);
}

/****************
FORM STYLE
****************/
#orcamento
{
    padding: 10px;
    color: #fff;
    background-image: url(/content/images/2021/retro-001.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

form
{
    background: rgba( 22, 25, 35, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #fff;
    text-shadow: 0 0 2px #1c1c1c;
    padding: 20px;
    box-shadow: 0 0 2px  #fff;
    max-width: 500px;
}

.form-control
{
    border: none;
    border: 1px solid #ff5500;
    background-color: transparent;
    outline: none;
    color: #ff5500;
    margin: 0 0 10px 0;
}
.form-control:focus
{
    background-color: transparent;
    box-shadow: 0 0 0;
    border: 1px solid #ff5500;
    color: #ff5500;
}
.form-select
{
    border: none;
    border: 1px solid #ff5500;
    background-color: transparent;
    outline: none;
    color: #ff5500;
    margin: 0 0 10px 0;
}
.form-select:focus
{
    background-color: transparent;
    box-shadow: 0 0 0;
    border: 1px solid #ff5500;
    color: #ff5500;
}
.form-label
{
    margin: 0;
}
.form-control::placeholder
{
    color: #ffffffc0;
    text-shadow: 0 0 2px #1c1c1c;
}
/* MESSAGE FORM */
main
{
    height: 100vh;
    background-color: #161923;
    display: flex;
    align-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/content/images/2021/retro02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.message
{
    text-align: center;
    color: #fff;
}

.message a
{
    color: #ff5500;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s;
}

.message a:hover
{
    background: linear-gradient(180deg, #ffe700, #ff5500);
    color: #161923;
}

/****************
FOOTER
****************/

footer h2
{
    background: none;
}

.logo-footer img 
{
    width: 300px;
    margin: 20px auto;
    filter: grayscale(100%);
}

.contact-footer
{
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact-footer-itens

{
    display: flex;
    flex-direction: column;
}

.qrcode-insta
{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact-footer a
{
    padding: 10px;
    font-size: 1.2rem;
}

i
{
    font-size: 1.8em;
}

.qrcode
{
    width: 200px;
    height: 200px;
    padding: 10px;
}

.footer-reference
{
    border-top: 1px solid #ff5500;
    padding: 10px;
    font-style: italic;
}

.footer-reference a img{
    max-width: 50px;
}

/*
MEDIA QUERIES

/*480px // Extra small screen*/
@media (min-width: 340px) and (max-width: 480px) { 

    #carousel img {
        height: auto;
    }

    .carousel-caption h1 {
        font-size: 1.7em;
        /* white-space: nowrap; */
    }
    
    .carousel-caption p {
        font-size: 0.9em;
    }

    .client img
    {
        height: 90px;
    }

    h2
    {
        font-size: 1.6em;
    }

    .logo-equipaments img
    {
        height: 50px;
    }

}
/*768px // Small screen*/
@media (min-width: 480.2px) and (max-width: 767.98px) {

    body #carousel img {
        height: auto;
    }

    h2
    {
        font-size: 1.8em;
    }

    
    .carousel-caption h1 {
        font-size: 2.3em;
    }
    
    .carousel-caption p {
        font-size: 1em;
    }

    .client img
    {
        height: 100px;
    }

}

/*992px // Medium screen*/
@media (min-width: 768px) and (max-width:991.98px) {
    body #carousel img {
        height: auto;
    }

    .carousel-caption h1 {
        font-size: 3.4em;
    }
    
    .carousel-caption p {
        font-size: 1.2em;

    }

    h2
    {
        font-size: 1.9em;
    }
}

/*1200px // Large screen*/
@media (min-width: 992px) and (max-width:1200px) {
    body #carousel img {
        height: auto;
    }

    .carousel-caption h1 {
        font-size: 4.5em;
    }

    .carousel-caption p {
        font-size: 1.6em;
    }

    h2 
    {
        font-size: 2em;
    }
}