#galeria .col-lg-6 {
    margin: 0 !important;
    padding: 15px;
}

#galeria img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 3px #1c1c1c;
}

#galeria img:hover {
    box-shadow: 0 0 8px rgb(255, 140, 0);
}
#galeria figcaption {
    padding-top: 5px;
    color: #1c1c1c;
}
