@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


/*************************
RESET
**************************/
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a 
{
   text-decoration: none; 
   color: #fff;
}

a:hover
{
    color: #ff5500;
    transition: .2s;
}

li
{
    list-style: none;
}

ul
{
    margin: 0;
    padding: 0;
}

/*************************
MENU BUTTON
**************************/
#logo img
{
    width: 250px;
}

#header
{
    box-sizing: border-box;
    height: 90px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1c1c1c;
    
}
#menu
{
    display: flex;
    gap: 1.1rem;
    
}

#menu a
{
    display: block;
    font-size: 1.2rem;
}

#btn-mobile
{
    display: none;
}



@media (max-width: 962px)
{
    .dropdown-menu 
    {
        width: 100%;
    }

    .dropdown-item
    {
        width: auto;
    }

    #menu
    {
        display: block;
        position: absolute;
        width: 100%;
        top: 90px;
        right: 0;
        background: #1c1c1c;
        transition: .6s;
        z-index: 10000;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
        
    }

    #nav.active #menu
    {
        height: calc(100vh - 90px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a
    {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid coral;
        text-align: center;
    }

    #btn-mobile
    {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 45px;
        height: 50px;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        cursor: pointer;
        overflow: hidden;

    }

    #btn-mobile span
    {
        position: absolute;
        width: 30px;
        height: 3px;
        background: #ff5500;
        border-radius: 4px;
        transition: 0.3s;
    }

    #btn-mobile span:nth-child(1)
    {
        transform: translateY(-15px);
        width: 25px;
        left: 6px;
    }

    #nav.active span:nth-child(1)
    {
        width: 30px;
        transform: translateY(0) rotate(45deg);
        transition-delay: 0.125s;
    }

    #btn-mobile span:nth-child(2)
    {
        transform: translateY(15px);
        width: 15px;
        left: 6px;
    }

    #nav.active span:nth-child(2)
    {
        width: 30px;
        transform: translateY(0) rotate(315deg);
        transition-delay: 0.25s;
    }

    #nav.active span:nth-child(3)
    {
        transform: translateX(60px);
    }
    

}

/*************************
RESET BOOTSTRAP
**************************/
.dropdown:hover>.dropdown-menu 
{
    position: absolute;
    display: block;
    right: 0px;
}

.dropdown-menu a:hover
{
    color: #ff5500;
}

.btn 
{
    width: 50%;
    border: none;
    border-radius: 32px;
    background: #fff;
    color: #1c1c1c;
    font-size: 1em;
    margin: 0 auto;
    display: block;
    opacity: 0.6;
}

.btn:hover 
{
    transition: all 0.3s ease;
    opacity: 1;
    background: linear-gradient(180deg, #ffe700, #ff5500);
}

/*************************
CONFIG CAROUSEL | STYLE
**************************/
.carousel-item img 
{
    width: 100vw;
    height: calc(100vh - 90px);
}

.carousel-caption 
{
    margin-bottom: 40px;
}

.carousel-caption h1 
{
    font-size: 6em;
    background: linear-gradient(180deg, #ffe700, #ff5500);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
}

.carousel-caption p 
{
    font-size: 2em;
    text-shadow: 0 0 8px #1c1c1c;
    font-weight: 400;
}

/******************************
CONTENT GLOBAL
*******************************/

.section_content h2 
{
    font-weight: 400;
    font-size: 2.3em;
    text-align: center;
    padding: 15px;
}

/* EQUIPAMENTS */
#equipamentos
{
    background: #161923;
    margin: 30px 0;
    color: #fff;
}

#equipamentos figure img 
{
    box-shadow: 0 0 2px #fff;
}

#equipamentos figcaption 
{
    padding-bottom: 5px;
}


/****************
FOOTER
****************/

footer
{
    background: #161923;
}

footer img
{
    border-radius: 5px;
    margin: 2px;
    width: 90px;
    height: 80px;
    filter: grayscale(100%);
    
}

.logo-footer img 
{
    width: 320px;
    margin: 20px auto;
}

.footer-content
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-footer 
{
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact-footer-itens
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.contact-footer-itens a{
    padding: 10px;
    font-size: 1.2rem;
}



.qrcode-insta
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qrcode-insta a
{
    padding: 10px;
    font-size: 1.2rem;
}

.qrcode
{
    width: 200px;
    height: 200px;
}

.client
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.client img 
{

    width: 130px;
    height: 130px;
}

.footer-reference
{
    padding: 20px 0;
    font-style: italic;
}

.footer-reference span 
{
    padding: 20px 0;
}

/*
MEDIA QUERIES

480px // Extra small screen
768px // Small screen
992px // Medium screen
1200px // Large screen
1600px // Extra Large screen
1900px // Extra Large screen

*/
/*480px // Extra small screen*/
@media (max-width: 480px) {

    body #carousel img {
        height: auto;
    }
    .dropdown-item{
        font-size: 1em;
    }

    .carousel-caption {
        display: none;
    }

    h2 {
        font-family: 'Poppins' sans-serif;
        font-weight: 400;
        font-size: 1.4em;
        text-align: center;
    }

    .btn {
        width: 100%;
        border: none;
        border-radius: 32px;
        background: #161923;
        color: white;
        font-size: 0.8em;
        margin: 0 auto;
        display: block;
        opacity: 0.6;
    }


}
/*768px // Small screen*/
@media (min-width: 480.2px) and (max-width: 767.98px) {

    body #carousel img {
        height: auto;
    }

    h2 {
        font-family: 'Poppins' sans-serif;
        font-weight: 400;
        font-size: 1.6em;
        text-align: center;
    }
    .btn {
        width: 80%;
        border: none;
        border-radius: 32px;
        background: #161923;
        color: white;
        font-size: 1em;
        margin: 0 auto;
        display: block;
        opacity: 0.6;
    }
    
    .carousel-caption {
        margin-bottom: 20px;
    }
    .carousel-caption h1 {
        font-size: 2.7em;
        background: linear-gradient(180deg, #ffe700, #ff5500);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 700;
    }
    
    .carousel-caption p {
        font-size: 0.8em;
        text-shadow: 0 0 8px #1c1c1c;
        font-weight: 400;
    }

}

/*992px // Medium screen*/
@media (min-width: 768px) and (max-width:991.98px) {
    body #carousel img {
        height: auto;
    }

    .carousel-caption {
        margin-bottom: 40px;
    }
    .carousel-caption h1 {
        font-size: 3.4em;
        background: linear-gradient(180deg, #ffe700, #ff5500);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 700;
    }
    
    .carousel-caption p {
        font-size: 1.2em;
        text-shadow: 0 0 8px #1c1c1c;
        font-weight: 400;
    }

    h2 {
        font-family: 'Poppins' sans-serif;
        font-weight: 400;
        font-size: 1.8em;
        text-align: center;
    }

    .btn {
        width: 50%;
        border: none;
        border-radius: 32px;
        background: #161923;
        color: white;
        font-size: 1em;
        margin: 0 auto;
        display: block;
        opacity: 0.6;
    }
    
}

/*1200px // Large screen*/
@media (min-width: 992px) and (max-width:1200px) {
    body #carousel img {
        height: auto;
    }

    .carousel-caption {
        margin-bottom: 60px;
    }

    .carousel-caption h1 {
        font-size: 4.5em;
        background: linear-gradient(180deg, #ffe700, #ff5500);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 700;
    }

    .carousel-caption p {
        font-size: 1.6em;
        text-shadow: 0 0 8px #1c1c1c;
        font-weight: 400;
    }

    h2 {
        font-family: 'Poppins' sans-serif;
        font-weight: 400;
        font-size: 2em;
        text-align: center;
    }
}